.header {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 2rem;
}

.title {
  font-size: 2.1rem;
  font-family: 'Biennale', sans-serif;
}

.navbar {
  display: flex;
}

.navbarItem {
  font-size: 1.3rem;
  font-family: 'Biennale', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;

  &.active {
    color: #000;
  }

  &:not(:last-child) {
    margin-right: 5rem;
  }
}
