.navbar {
  height: 0;
  overflow: hidden;
  position: relative;
}

.navbarItemWrapper {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: 'Biennale', sans-serif;
  letter-spacing: 1px;

  &::before {
    content: '» ';
  }

  button {
    outline: none;
    text-transform: uppercase;
  }
}

.navbarItem {
  font-size: 1.3rem;
  font-family: 'Biennale', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &::before {
    content: '» ';
  }
}

.subLinkItem {
  margin-top: 1rem;
}

.subList {
  height: 0;
  overflow: hidden;
  margin-left: 1rem;
}

@media (min-width: 1024px) {
  .navbar {
    height: 100%;
    display: flex;
    overflow: visible;
    align-items: center;
  }

  .navbarItemWrapper {
    padding: 2rem 0;
    margin-right: 5rem;
    margin-bottom: 0;

    &::before {
      content: '';
    }

    button {
      font-weight: bold;
      color: #777;

      &.active {
        color: #000;
      }
    }
  }

  .navbarItem {
    font-weight: bold;
    color: #777;
    padding: 2rem 0;

    &.active {
      color: #000;
    }

    &:not(:last-child) {
      margin-right: 5rem;
      margin-bottom: 0;
    }

    &::before {
      content: '';
    }
  }

  .subLinkItem {
    margin-top: 0;

    .navbarItem {
      font-family: 'TTHoves Medium', sans-serif;
      font-weight: normal;
      text-transform: none;
      letter-spacing: 2px;

      &::before {
        content: '+ ';
      }
    }
  }

  .subList {
    position: absolute;
    top: 5rem;
    left: -1rem;
    width: 20rem;
    padding: 0 1rem;
    height: auto;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #eee;
    z-index: 2;
  }
}
