.contentWrapper {
  display: flex;
  flex-direction: column;
}

.portrait {
  height: 15rem;
  width: 15rem;
  margin: 0 2rem;
  border-radius: 50%;
}

.paragraph {
  padding: 0 2rem;

  a {
    display: inline-block;
  }
}

.list {
  padding: 0 2rem;
}

.listItem {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &::before {
    content: '+ ';
  }
}

.underlined {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .portrait {
    margin: 0 3rem;
  }

  .paragraph,
  .list {
    padding: 0 3rem;
  }

  .greetings::after {
    left: 3rem;
  }
}

@media (min-width: 1024px) {
  .contentWrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .portrait {
    order: 1;
    margin: 0 4rem 0 0;
    height: 25rem;
    width: 25rem;
  }

  .paragraph,
  .list {
    padding: 0 4rem;
  }

  .greetings::after {
    left: 4rem;
  }
}

@media (min-width: 1200px) {
  .paragraph,
  .list {
    padding: 0;
  }
}
