.paragraph {
  padding: 0 2rem;

  a {
    display: inline-block;
  }
}

.list {
  padding: 0 2rem;
}

.listItem {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &::before {
    content: '+ ';
  }
}

.greetings {
  font-weight: bold;
  position: relative;

  &::after {
    content: '';
    width: 8rem;
    height: 0.2rem;
    background-color: red;
    position: absolute;
    left: 2rem;
    bottom: -2rem;
  }
}

@media (min-width: 768px) {
  .paragraph,
  .list {
    padding: 0 3rem;
  }

  .greetings::after {
    left: 3rem;
  }
}

@media (min-width: 1024px) {
  .paragraph,
  .list {
    padding: 0 4rem;
  }

  .greetings::after {
    left: 4rem;
  }
}

@media (min-width: 1200px) {
  .paragraph,
  .list {
    padding: 0;
  }

  .greetings {
    margin-bottom: 8rem;

    &::after {
      left: 0;
    }
  }
}
