.bannerWrapper {
  height: 25rem;
  margin-top: 2.6rem;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paragraph {
  padding: 0 2rem;

  &:first-child {
    margin-top: 4rem;
  }
}

.list {
  padding: 0 2rem;
  margin: 4rem 0;
}

.listItem {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &::before {
    content: '+ ';
  }
}

@media (min-width: 768px) {
  .paragraph,
  .list {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .bannerWrapper {
    height: 30rem;
  }

  .paragraph,
  .list {
    padding: 0 4rem;
  }
}

@media (min-width: 1200px) {
  .paragraph,
  .list {
    padding: 0;
  }
}
