.paragraph {
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .paragraph {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .paragraph {
    padding: 0 4rem;
  }
}

@media (min-width: 1200px) {
  .paragraph {
    padding: 0;
    margin-bottom: 4rem;
  }
}
