.workList {
  display: grid;
  row-gap: 2rem;
  margin: 2rem;
}

.workItem {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px 1px #aaa;

  button {
    outline: none;
  }
}

.videoOverlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
}

.video {
  width: 95%;
  height: auto;
}

@media (min-width: 768px) {
  .workList {
    grid-template: 1fr / 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
    margin: 3rem;
  }
}

@media (min-width: 1024px) {
  .workList {
    row-gap: 4rem;
    column-gap: 4rem;
    margin: 4rem;
  }

  .workItem {
    overflow: hidden;

    button {
      img {
        transition: 0.25s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .workList {
    grid-template: 1fr / 1fr 1fr 1fr;
    row-gap: 4rem;
    column-gap: 4rem;
    margin: 0;
  }

  .video {
    max-width: 120rem;
  }
}
