@font-face {
  font-family: 'Biennale';
  font-weight: normal;
  src: url('/fonts/Biennale-Light.woff') format('woff');
}

@font-face {
  font-family: 'Biennale';
  font-weight: bold;
  src: url('/fonts/Biennale-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'TTHoves';
  font-weight: normal;
  src: url('/fonts/TTHoves-Thin.woff') format('woff');
}

@font-face {
  font-family: 'TTHoves';
  font-weight: bold;
  src: url('/fonts/TTHoves-Medium.woff') format('woff');
}
